/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }

/* General  */
a {
    /* color: #333; */
    color: black;
    text-decoration: none;
  }
html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    font-weight: 600;
  }

h1, h2, h3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .all_images {
    max-width: 100%;
    margin: auto;

  }
  
p {
    margin: 10px 0;
  }

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }
/* NEW NAVBAR */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position:fixed;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  /* padding: 40px 600px; */
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #333;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #333;
  color: #fff;
}





/* Navbar */
#navbar {
    background: #333;
    position:fixed;
    width: 100%;
    top: 0;
    color: #fff;
    overflow: auto;
    z-index: 100;
  }
  
#navbar a {
    color: #fff;
  }
  
  #navbar h1 {
    float: left;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px 10px 40px 10px;
    text-align: center;
  }
  
  #navbar ul li a:hover, 
  #navbar ul li a.current {
    background: #444;
    color: #f7c08a;
  }
  .img_txt {
    font-style: italic;
  }

/* Development banner */
#developmentbanner{
    display: flex;
    margin-top: 80px; 
    background-color: #888 ;
    color: white;
}


/* INDEX */


.background_image_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.index_title_image{
  background-image: url("../img/whychus_fromDeschutes_land_trust_Scott_Nelson_2018.jpg");
}

.background_image_text {
  margin-top: 1%;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  text-align: center;
  line-height: 1;
}


#index-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
#index-description img{
    margin-top: 10px;
    align-self: center;
    height: 500px;
    width: 100%;

}
#index-description .container img{
    align-self: center;
    width: 100%;
}
#home-info .info-img {
    float: left;
    width: 50%;
    height: 500px;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
  }

  /* Footer */
#main-footer {
    display: flex;
    /* text-align: center; */
    align-items:flex-start;
    background: #444;
    color: #fff;
    padding: 20px;
  }
#main-footer img {
    width: 20%;
}

/* Resources */

#resourceslist {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.box {
  background-color: rgb(219, 216, 216);
  /* margin: 10px, 10px; */
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  /* padding: 10px, 10px; */
  color: black;
}

.box h3  {
  margin-bottom: 2px;
  padding-bottom: 1px;
}
.box a{
  color: black;
  font-weight: bold;
  font-style: oblique;
}

/* About */
#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#content h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}
#content h2 {
  font-style: italic;
  align-self:flex-start; 
}


#content p {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#bibliography {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#bibliography div p { 
  font-style: italic;
}

#test {
  /* display: flex; */
  /* align-items: center; */
  /* align-self: center; */
  text-align: center;
}

/* Benefits */

#benefit-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#benefit-content h3 {
  align-self: start;
}


